/app/Http/Controllers/AdminTestController.php
/resources/views/layouts/create.blade.php
/resources/views/layouts/test.blade.php
/vendor
/node_modules
/public/storage
/public/crm
Homestead.yaml
Homestead.json
.env
/.bash_profile
/.vscode/settings.json
/.idea/*
/_ide_helper.php
